body {
  background: url("img/BG_Desktop.jpg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 780px) {
  .container .radio {
    margin: 0px;
    top: 34px;
    text-align: center;
  }
  .container .radio_border {
    width: 391.85px;
    height: 686.04px;
    margin-left: -4px;
    margin-top: 59px;
    border: 8px solid transparent;
    border-image: linear-gradient(to top, #a4d9d5, #c0e18d);
    border-image-slice: 1;
    background-color: #ffffff;
  }
  .container .radio_back {
    height: 18px;
  }
  .container .radio_back--text {
    font-family: Euclid Flex;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.12em;
    color: #ffffff;
    text-decoration: underline;
    margin-left: 87px;
    margin-top: 35px;
  }
  .container .radio--img {
    width: 103.81px;
    height: 69px;
    margin-top: 7px;
  }
  .container .footer {
    margin-top: 20px;
  }
  .container .footer_cloud--img {
    width: 46px;
    height: 26px;
    margin-right: -70px;
  }
  .container .footer_mixcloud--img {
    width: 86.18px;
    height: 12.86;
  }
  .container .footer_follow {
    top: 16px;
  }
  .container .section_text {
    text-align: center;
    height: 201.75px;
    width: 294.3px;
    top: 75px;
    margin: 0px;
    left: 41px;
  }
  .container .list {
    height: 350px;
    overflow-y: scroll;
    width: 383px;
    top: 34px;
    left: 18px;
  }
}
@media screen and (min-width: 780px) {
  .container .radio {
    margin: 0px;
    top: 34px;
  }
  .container .radio--img {
    width: 103.81px;
    height: 69.13px;
    margin-left: -47px;
  }
  .container .radio_border {
    margin-left: 87px;
    margin-top: -21px;
    background-color: #ffffff;
    width: 880px;
    height: 524px;
    border: 8px solid transparent;
    border-image: linear-gradient(to top, #a4d9d5, #c0e18d);
    border-image-slice: 1;
  }
  .container .radio_back {
    height: 18px;
  }
  .container .radio_back--text {
    font-family: Euclid Flex;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.12em;
    color: #ffffff;
    text-decoration: underline;
  }
  .container .archive_cloud--img {
    width: 46px;
    height: 26px;
  }
  .container .archive_mixcloud--img {
    width: 86.18px;
    height: 12.86;
  }
  .container .archive_follow--text {
    color: #8c8c8c;
    font-family: Euclid Flex, Bold;
    height: 14px;
    letter-spacing: 0.1em;
    line-height: 0.14em;
    font-size: 11px;
  }
  .container .archive_contain--text {
    width: 277px;
    height: 63px;
    font-family: Euclid Flex, Light;
    font-size: 10px;
    line-height: 2.1em;
  }
  .container .archive--text {
    height: 27px;
    font-family: Euclid Flex;
    font-size: 21px;
    letter-spacing: 0.1em;
    color: #131313;
    font-weight: bold;
  }
  .container .list {
    height: 350px;
    overflow-y: scroll;
    width: 383px;
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .container .list ::-webkit-scrollbar {
    width: 100px;
  }
  .container .list ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .container .list ::-webkit-scrollbar-thumb {
    background: #888;
  }
  .container .list ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .container .list_logo {
    width: 327px;
  }
  .container .section_text {
    top: 75px;
    margin: 0px;
  }
}

/*# sourceMappingURL=ARCHIVE_MIX.css.map */
