body {
  background: url("https://durornjsc0mci.cloudfront.net/media/uploads/froala_editor/images/1545197884BG_Desktop.jpg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


/* width */
::-webkit-scrollbar {
 width: 10px;
 height: 139.7px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #E5E5E5; 
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #f1f1f1; 
}



}

.container {
  //  media query for the mobile only
  @media screen and (max-width: 780px) {
    .header {
      &_left {
        margin: 0px;
        top: 34px;
        text-align: center;
        &--logo {
          width: 103.81px;
          height: 69px;
          margin-top: 7px;
        }
      }
      &_border {
        width: 114%;
        height: 686.04px;
        margin-left: -4px;
        margin-top: 59px;
        border: 8px solid transparent;
        border-image: linear-gradient(to top, #a4d9d5, #c0e18d);
        border-image-slice: 1;
        background-color: #ffffff;
      }

      &_right {
        height: 18px;

        &--text {
          font-family: EuclidFlexbold;
          
          font-size: 14px;
          letter-spacing: 0.12em;
          color: #ffffff;
          text-decoration: underline;

          text-align: center;
          margin-top: 35px;
        }
      }
    }

    .play {
      top: 14px;
      
      &_img {
        width: 15px;
        height: 19px;
      }
    }
    .footer {
      margin-top: 20px;

      &_cloud {
        &--img {
          width: 46px;
          height: 26px;
          margin-right: -70px;
        }
      }
      &_mixcloud {
        &--img {
          width: 86.18px;
          height: 12.86;
        }
      }
      &_follow {
        top: 16px;
      }
    }
    .section {
      &_text {
        text-align: center;
        height: 201.75px;
        width: 294.3px;
        top: 75px;
        margin: 0px;
        left: 41px;

      /* width */
      ::-webkit-scrollbar {
      width: 12px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
      background: #E5E5E5; 
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
      background: #f1f1f1; 
      }
        
      }
    }
    .list {
      height: 350px;
      overflow-y: scroll;
      width: 372px;
      top: 34px;
      left: 18px;
    }
  }

  // media query for the Desktop only
  @media screen and (min-width: 780px) {
    .header {
      &_left {
        margin: 0px;
        top: 40px;
        &--logo {
          width: 103.81px;
          height: 69.13px;

          margin-left: -47px;
        }
      }
      &_border {
        margin-left: 87px;

        background-color: #ffffff;
        width: 880px;
        height: 524px;
        border: 8px solid transparent;
        border-image: linear-gradient(to top, #a4d9d5, #c0e18d);
        border-image-slice: 1;
      }

      &_right {
        height: 18px;
        left: 79%;
        top: 92px;
        &--text {
          font-family: EuclidFlexbold;
          
          font-size: 14px;
          letter-spacing: 0.12em;
          color: #ffffff;
          text-decoration: underline;
        }
      }
    }

    .play {
      top: 14px;
      left: 20px;
      &_img {
        width: 15px;
        height: 19px;
      }
    }
    .archive {
      color: #7e7e7e;
      font-family: EuclidFlexbold;
      letter-spacing: 0.1em;
      line-height: 0.7em;
          margin-top: -27px;
      &_cloud {
        &--img {
          width: 46px;
          height: 26px;
          margin-top: -8px;
        }
      }
      &_mixcloud {
        &--img {
          width: 86.18px;
          height: 12.86;
          margin-top: -8px;
        }
      }
      &_follow {
        &--text {
          margin-top: 3px;
          color: #8c8c8c;
          font-family: EuclidFlexbold;
          height: 14px;
          letter-spacing: 0.01em;
          line-height: 0.09em;
          font-size: 11px;
        }
      }
      &_contain {
        &--text {
          width: 277px;
          height: 63px;
          font-family: EuclidFlexLight;
          font-size: 10px;
          line-height: 2.1em;
          letter-spacing: 0em;
        }
      }
      &--text {
        height: 27px;
        font-family: EuclidFlex;
        font-size: 21px;
        letter-spacing: 0.1em;
        color: #131313;
        font-weight: bold;
      }
    }

    .list {
      margin-top: 53px;
      height: 350px;

      width: 383px;
      right: 35px;
      overflow: auto;
      &_logo {
        width: 65px;
        height: 65px;
      }
    }
    .section {
      &_text {
        top: 169px;
        margin: 0px;
      }
    }
    .songs {
      width: 212px;
      height: 14px;
      font-size: 10px;
      top: 18px;

      font-family: EuclidFlexMedium;
    }
  }
}
