body {
  background: url("img/BG_Desktop.jpg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* width */
  /* Track */
  /* Handle */
}
body ::-webkit-scrollbar {
  width: 10px;
  height: 139.7px;
}
body ::-webkit-scrollbar-track {
  background: #E5E5E5;
}
body ::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

@media screen and (max-width: 780px) {
  .container .header_left {
    margin: 0px;
    top: 34px;
    text-align: center;
  }
  .container .header_left--logo {
    width: 103.81px;
    height: 69px;
    margin-top: 7px;
  }
  .container .header_border {
    width: 114%;
    height: 686.04px;
    margin-left: -4px;
    margin-top: 59px;
    border: 8px solid transparent;
    border-image: linear-gradient(to top, #a4d9d5, #c0e18d);
    border-image-slice: 1;
    background-color: #ffffff;
  }
  .container .header_right {
    height: 18px;
  }
  .container .header_right--text {
    font-family: Euclid Flex;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.12em;
    color: #ffffff;
    text-decoration: underline;
    text-align: center;
    margin-top: 35px;
  }
  .container .footer {
    margin-top: 20px;
  }
  .container .footer_cloud--img {
    width: 46px;
    height: 26px;
    margin-right: -70px;
  }
  .container .footer_mixcloud--img {
    width: 86.18px;
    height: 12.86;
  }
  .container .footer_follow {
    top: 16px;
  }
  .container .section_text {
    text-align: center;
    height: 201.75px;
    width: 294.3px;
    top: 75px;
    margin: 0px;
    left: 41px;
    /* width */
    /* Track */
    /* Handle */
  }
  .container .section_text ::-webkit-scrollbar {
    width: 12px;
  }
  .container .section_text ::-webkit-scrollbar-track {
    background: #E5E5E5;
  }
  .container .section_text ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }
  .container .list {
    height: 350px;
    overflow-y: scroll;
    width: 372px;
    top: 34px;
    left: 18px;
  }
}
@media screen and (min-width: 780px) {
  .container .header_left {
    margin: 0px;
    top: 40px;
  }
  .container .header_left--logo {
    width: 103.81px;
    height: 69.13px;
    margin-left: -47px;
  }
  .container .header_border {
    margin-left: 87px;
    background-color: #ffffff;
    width: 880px;
    height: 524px;
    border: 8px solid transparent;
    border-image: linear-gradient(to top, #a4d9d5, #c0e18d);
    border-image-slice: 1;
  }
  .container .header_right {
    height: 18px;
    left: 79%;
    top: 92px;
  }
  .container .header_right--text {
    font-family: Euclid Flex;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.12em;
    color: #ffffff;
    text-decoration: underline;
  }
  .container .play {
    top: 14px;
    left: 20px;
  }
  .container .play_img {
    width: 15px;
    height: 19px;
  }
  .container .archive {
    color: #7e7e7e;
    font-family: Euclid Flex, Bold;
    letter-spacing: 0.1em;
    line-height: 0.7em;
    margin-top: -27px;
  }
  .container .archive_cloud--img {
    width: 46px;
    height: 26px;
    margin-top: -8px;
  }
  .container .archive_mixcloud--img {
    width: 86.18px;
    height: 12.86;
    margin-top: -8px;
  }
  .container .archive_follow--text {
    margin-top: 3px;
    color: #8c8c8c;
    font-family: Euclid Flex, Bold;
    height: 14px;
    letter-spacing: 0.01em;
    line-height: 0.09em;
    font-size: 11px;
  }
  .container .archive_contain--text {
    width: 277px;
    height: 63px;
    font-family: Euclid Flex, Light;
    font-size: 10px;
    line-height: 2.1em;
    letter-spacing: 0em;
  }
  .container .archive--text {
    height: 27px;
    font-family: Euclid Flex;
    font-size: 21px;
    letter-spacing: 0.1em;
    color: #131313;
    font-weight: bold;
  }
  .container .list {
    margin-top: 53px;
    height: 350px;
    width: 383px;
    right: 35px;
    overflow: auto;
  }
  .container .list_logo {
    width: 65px;
    height: 65px;
  }
  .container .section_text {
    top: 169px;
    margin: 0px;
  }
  .container .songs {
    width: 212px;
    height: 14px;
    font-size: 10px;
    top: 18px;
    font-family: Euclid Flex, Medium;
  }
}

/*# sourceMappingURL=ARCHIVE_MIX.css.map */
